cookies.*
proxy
PythonHelpers_for_Quitterie
*.hi
*.o
!*.hs
*.swp
template.hs
dist-newstyle
*.dot
*.svg
input/*
input/*/*
test/*
test/*/*
.pre-commit-config.yaml
.aoc_tiles/*
!.aoc_tiles/tiles/
*.prof
*.hp
